#map11 {
    height: 180px;
}

#map22 {
    height: 180px;
}

#map33 {
    height: 180px;
}

#map44 {
    height: 180px;
}


.navbar-brand {
    margin-left: 20px;
    font-size: 26px;
    font-weight: bold;
}

.form-control {
    border-width: medium;
}